/*定义css变量*/
:root{ 
	--mywidth: 600px;
	--myheight: 350px;
}

*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
}

ul{
	list-style: none;
}
.content{
	display: flex;
    justify-content: center;
    align-items: center;
}
.content1{
	position: absolute;
	top: 0;
	left: 65%;
}
.a-content{
	border: 1px solid rgba(0,0,0,0.1);
    border-radius:20px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.carousel-content{
	width: 22rem;
	height:30rem;
	position: relative;
	overflow: hidden;
	border-radius:10px;
}
.carousel{
	height: 30rem;
	position: absolute;
}
.carousel li{
	float: left;
}
.carousel li,.carousel li img{
	width: 22rem;
	height: 30rem;
}
.img-index{
	position: absolute;
    bottom: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.img-index li{
	float: left;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
    font-size: 12px;
    cursor: pointer;
    margin: 0 3px;
    color: #fff;
}
.img-index li.js_index,.img-index li:hover{
	background-color: rgba(0,0,0,0.7);
}
.carousel-prev,.carousel-next{
	position: absolute;
	display: inline-block;
	top: 45%;
	cursor: pointer;
    display: none;
}
.carousel-prev{
	left: 0;
}
.carousel-next{
	right: 0;
}